################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

.vs/
/PagamentosApp.Api/appsettings.Development.json
/PagamentosApp.Api/obj/
/PagamentosApp.Api/bin/
/PagamentosApp.Domain/bin/
/PagamentosApp.Domain/obj/
/PagamentosApp.Infrastructure/bin/
/PagamentosApp.Infrastructure/obj/
/PagamentosApp.Application/bin/
/PagamentosApp.Application/obj/
